{template 'header'}
<link rel="stylesheet" href="{MODULE_URL}/template/static/css/donate.css?a=12">
 
<br></br>
<script>
$(document).ready(function(){
{if empty($reply['defaultpay'])}
    //
    //发起微信支付，微信支付依赖于 WeixinJSBridge 组件，所以发起时应该在ready事件中进行
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        (function(){
            loadingToast("奋力加载");
            $.ajax({
                type: "POST",
                url: "{php echo $this->createMobileUrl('pay', array('rid' =>12,'id' => 1,'ty' => 1,'type'=>1))}",
                data: {giftid:0.01,count:1},
                dataType: "json",
                success: function(str) {
                    hidemod("loadingToast");
                    if(str!=null && str!='' && str.error!=1){
                            payment = str.message.message;
                            WeixinJSBridge.invoke("getBrandWCPayRequest", {
                                    appId: payment.appId,
                                    timeStamp: payment.timeStamp,
                                    nonceStr: payment.nonceStr,
                                    "package": payment["package"],
                                    signType: payment.signType,
                                    paySign: payment.paySign
                            },
                           function(res){     
                               if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                                    toast("支付成功");
                                    setTimeout(location.href ="{php echo $this->createMobileUrl('view', array('rid' => 12,'id' => 1))}",3000); 
                                    
                               }else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                                    dialog2("已取消支付");return false;
                               }else{
                                    dialog2(res.err_msg);return false;
                               }
                           }
                           ); 
                    }else{
                        dialog2(str.msg);
                    }
                },
                error: function(err) {
                    hidemod("loadingToast");
                    dialog2("发生错误，请刷新后重试！(1)");
                }
            });
        });
    });
{/if}
});

</script>
{template 'footer'}
